# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Data storage

*.bed
*.wig
*.bigWig
*.gz
*.fa
*.gtf
*.fna
*.zip
*.net
*.t7
*.hdf5
*.h5

.DS_Store
.ipynb_checkpoints
